201-logic-app-workflow-1/azuredeploy-logic-app-workflow-blobtrigger.json
{
    "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "logicAppName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "metadata": {
                "description": "Name of Logic App for Advanced VOD Workflow with IngestAssetConfig."
            }
        },
        "functionsDeploymentResourceGroup": {
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "metadata": {
                "description": "Name of deployment resource used by the functions."
            }
        },
        "functionsDeploymentName": {
            "type": "string",
            "minLength": 1,
            "maxLength": 80,
            "metadata": {
                "description": "Name of deployment of the functions."
            }
        },
        "sourceAssetsStorageAccountName": {
            "type": "string",
            "defaultValue": "",
            "metadata": {
                "description": "Azure Storage Account Name for source assets."
            }
        },
        "sourceAssetsStorageAccountKey": {
            "type": "string",
            "defaultValue": "",
            "metadata": {
                "description": "Azure Storage Account Key for source assets."
            }
        },
        "ingestAssetConfigWatchFolderStorageAccountName": {
            "type": "string",
            "defaultValue": "",
            "metadata": {
                "description": "Storage Account Name for watching IngestAssetConfig file."
            }
        },
        "ingestAssetConfigWatchFolder": {
            "type": "string",
            "defaultValue": "/inputs",
            "metadata": {
                "description": "Storage Container Name for watching IngestAssetConfig file."
            }
        },
        "outlookSendEmailToAddress": {
            "type": "string",
            "defaultValue": "user@outlook.com",
            "metadata": {
                "description": "E-mail workflow notification will be sent to."
            }
        }
    },
    "variables": {
        "logicAppLocation": "[resourceGroup().location]",
        "sourceAssetsStorageAccountName": "[trim(parameters('sourceAssetsStorageAccountName'))]",
        "sourceAssetsStorageAccountId": "[resourceId('Microsoft.Storage/storageAccounts', trim(parameters('sourceAssetsStorageAccountName')))]",
        "watchStorageStorageAccountName": "[trim(parameters('ingestAssetConfigWatchFolderStorageAccountName'))]",
        "watchStorageStorageAccountId": "[resourceId('Microsoft.Storage/storageAccounts', trim(parameters('ingestAssetConfigWatchFolderStorageAccountName')))]",
        "azureblob_1_Connection_Name": "azureblob-1-WatchFolder",
        "azureblob_1_Connection_DisplayName": "azureblob-1-WatchFolder",
        "outlook_1_Connection_Name": "outlook-1",
        "outlook_1_Connection_DisplayName": "outlook-1"
    },
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2016-06-01",
            "name": "[parameters('logicAppName')]",
            "location": "[variables('logicAppLocation')]",
            "tags": {
                "displayName": "LogicApp"
            },
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('outlook_1_Connection_Name'))]",
                "[resourceId('Microsoft.Web/connections', variables('azureblob_1_Connection_Name'))]"
            ],
            "properties": {
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "outputs": {},
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "actions": {
                        "Get_blob_content": {
                            "inputs": {
                                "host": {
                                    "api": {
                                        "runtimeUrl": "[concat('https://logic-apis-', variables('logicAppLocation'), '.azure-apim.net/apim/azureblob')]"
                                    },
                                    "connection": {
                                        "name": "@parameters('$connections')['azureblob']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/default/files/@{encodeURIComponent(encodeURIComponent(triggerBody()?['Path']))}/content",
                                "queries": {
                                    "inferContentType": true
                                }
                            },
                            "runAfter": {},
                            "type": "ApiConnection"
                        },
                        "WF-1-CreateAsset-ImportAssetFromIngestAssetConfig": {
                            "inputs": {
                                "body": {
                                    "FileContent": "@{body('Get_blob_content')}",
                                    "FileName": "@{triggerBody()?['Name']}",
                                    "SourceStorageAccountName": "[variables('sourceAssetsStorageAccountName')]",
                                    "SourceStorageAccountKey": "[listKeys(variables('sourceAssetsStorageAccountId'),'2015-05-01-preview').key1]"
                                },
                                "function": {
                                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', parameters('functionsDeploymentResourceGroup'), '/providers/Microsoft.Web/sites/', parameters('functionsDeploymentName'), '/functions/WF-1-CreateAsset-ImportAssetFromIngestAssetConfig')]"
                                }
                            },
                            "runAfter": {
                                "Get_blob_content": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Function"
                        },
                        "Until_Copy_Blob_Finish": {
                            "actions": {
                                "WF-1-CreateAsset-MonitorCopyBlob": {
                                    "inputs": {
                                        "body": {
                                            "DestinationContainer": "@{body('WF-1-CreateAsset-ImportAssetFromIngestAssetConfig')['DestinationContainer']}"
                                        },
                                        "function": {
                                            "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', parameters('functionsDeploymentResourceGroup'), '/providers/Microsoft.Web/sites/', parameters('functionsDeploymentName'), '/functions/WF-1-CreateAsset-MonitorCopyBlob')]"
                                        }
                                    },
                                    "runAfter": {},
                                    "type": "Function"
                                }
                            },
                            "expression": "@equals(body('WF-1-CreateAsset-MonitorCopyBlob')['CopyStatus'], 2)",
                            "limit": {
                                "count": 1000,
                                "timeout": "PT2H"
                            },
                            "runAfter": {
                                "WF-1-CreateAsset-ImportAssetFromIngestAssetConfig": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Until"
                        },
                        "WF-1-CreateAsset-UpdateFinal": {
                            "inputs": {
                                "body": {
                                    "AssetId": "@{body('WF-1-CreateAsset-ImportAssetFromIngestAssetConfig')['AssetId']}",
                                    "IngestAssetConfigJson": "@{body('Get_blob_content')}",
                                    "faceDetectionMode": "PerFaceEmotion",
                                    "faceRedactionMode": "analyze",
                                    "indexV2Language": "EnUs",
                                    "motionDetectionLevel": "medium",
                                    "ocrLanguage": "AutoDetect",
                                    "summarizationDuration": "0.0"
                                },
                                "function": {
                                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', parameters('functionsDeploymentResourceGroup'), '/providers/Microsoft.Web/sites/', parameters('functionsDeploymentName'), '/functions/WF-1-CreateAsset-UpdateFinal')]"
                                }
                            },
                            "runAfter": {
                                "Until_Copy_Blob_Finish": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Function"
                        },
                        "Condition_If_Asset_Created": {
                            "actions": {
                                "Condition_If_Encoding_Finished": {
                                    "actions": {
                                        "Send_an_email_-_Case_1": {
                                            "inputs": {
                                                "body": {
                                                    "Body": "Asset Uploaded & Encoded:\nIngestAssetConfig: @{triggerBody()?['Name']}\nPlayback link: @{body('WF-5-PublishAsset_(Encoded)')['StreamingUrl']}",
                                                    "Subject": "Media Services Workflow - Published!",
                                                    "To": "[parameters('outlookSendEmailToAddress')]"
                                                },
                                                "host": {
                                                    "api": {
                                                        "runtimeUrl": "[concat('https://logic-apis-', variables('logicAppLocation'), '.azure-apim.net/apim/outlook')]"
                                                    },
                                                    "connection": {
                                                        "name": "@parameters('$connections')['outlook']['connectionId']"
                                                    }
                                                },
                                                "method": "post",
                                                "path": "/Mail"
                                            },
                                            "runAfter": {
                                                "WF-5-PublishAsset_(Encoded)": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "ApiConnection"
                                        },
                                        "WF-5-PublishAsset_(Encoded)": {
                                            "inputs": {
                                                "body": {
                                                    "AssetId": "@{body('WF-2-ProcessAsset-SubmitEncodingJob')['OutputAssetId']}",
                                                    "IngestAssetConfigJson": "@{body('Get_blob_content')}"
                                                },
                                                "function": {
                                                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', parameters('functionsDeploymentResourceGroup'), '/providers/Microsoft.Web/sites/', parameters('functionsDeploymentName'), '/functions/WF-5-PublishAsset')]"
                                                }
                                            },
                                            "runAfter": {},
                                            "type": "Function"
                                        }
                                    },
                                    "expression": "@equals(body('WF-2-ProcessAsset-MonitorJob')['JobState'], 3)",
                                    "runAfter": {
                                        "Until_Encoding_Finish": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "If"
                                },
                                "Until_Encoding_Finish": {
                                    "actions": {
                                        "WF-2-ProcessAsset-MonitorJob": {
                                            "inputs": {
                                                "body": {
                                                    "JobId": "@{body('WF-2-ProcessAsset-SubmitEncodingJob')['JobId']}"
                                                },
                                                "function": {
                                                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', parameters('functionsDeploymentResourceGroup'), '/providers/Microsoft.Web/sites/', parameters('functionsDeploymentName'), '/functions/WF-2-ProcessAsset-MonitorJob')]"
                                                }
                                            },
                                            "runAfter": {},
                                            "type": "Function"
                                        }
                                    },
                                    "expression": "@greater(body('WF-2-ProcessAsset-MonitorJob')['JobState'], 2)",
                                    "limit": {
                                        "count": 5000,
                                        "timeout": "PT48H"
                                    },
                                    "runAfter": {
                                        "WF-2-ProcessAsset-SubmitEncodingJob": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Until"
                                },
                                "WF-2-ProcessAsset-SubmitEncodingJob": {
                                    "inputs": {
                                        "body": {
                                            "AssetId": "@{body('WF-1-CreateAsset-ImportAssetFromIngestAssetConfig')['AssetId']}",
                                            "IngestAssetConfigJson": "@{body('Get_blob_content')}"
                                        },
                                        "function": {
                                            "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', parameters('functionsDeploymentResourceGroup'), '/providers/Microsoft.Web/sites/', parameters('functionsDeploymentName'), '/functions/WF-2-ProcessAsset-SubmitEncodingJob')]"
                                        }
                                    },
                                    "runAfter": {},
                                    "type": "Function"
                                }
                            },
                            "else": {
                                "actions": {
                                    "Send_an_email_-_Case_2": {
                                        "inputs": {
                                            "body": {
                                                "Body": "Asset Uploaded:\nIngestAssetConfig: @{triggerBody()?['Name']}\nPlayback link: @{body('WF-5-PublishAsset')['StreamingUrl']}",
                                                "Subject": "Media Services Workflow - Published!",
                                                "To": "[parameters('outlookSendEmailToAddress')]"
                                            },
                                            "host": {
                                                "api": {
                                                    "runtimeUrl": "[concat('https://logic-apis-', variables('logicAppLocation'), '.azure-apim.net/apim/outlook')]"
                                                },
                                                "connection": {
                                                    "name": "@parameters('$connections')['outlook']['connectionId']"
                                                }
                                            },
                                            "method": "post",
                                            "path": "/Mail"
                                        },
                                        "runAfter": {
                                            "WF-5-PublishAsset": [
                                                "Succeeded"
                                            ]
                                        },
                                        "type": "ApiConnection"
                                    },
                                    "WF-5-PublishAsset": {
                                        "inputs": {
                                            "body": {
                                                "AssetId": "@{body('WF-1-CreateAsset-ImportAssetFromIngestAssetConfig')['AssetId']}",
                                                "IngestAssetConfigJson": "@{body('Get_blob_content')}"
                                            },
                                            "function": {
                                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/resourceGroups/', parameters('functionsDeploymentResourceGroup'), '/providers/Microsoft.Web/sites/', parameters('functionsDeploymentName'), '/functions/WF-5-PublishAsset')]"
                                            }
                                        },
                                        "runAfter": {},
                                        "type": "Function"
                                    }
                                }
                            },
                            "expression": "@greater(body('WF-1-CreateAsset-UpdateFinal')['MediaProcessRequired'], 0)",
                            "runAfter": {
                                "WF-1-CreateAsset-UpdateFinal": [
                                    "Succeeded"
                                ]
                            },
                            "type": "If"
                        }
                    },
                    "triggers": {
                        "When_one_or_more_blobs_are_added_or_modified_(metadata_only)": {
                            "inputs": {
                                "host": {
                                    "api": {
                                        "runtimeUrl": "[concat('https://logic-apis-', variables('logicAppLocation'), '.azure-apim.net/apim/azureblob')]"
                                    },
                                    "connection": {
                                        "name": "@parameters('$connections')['azureblob']['connectionId']"
                                    }
                                },
                                "method": "get",
                                "path": "/datasets/default/triggers/batch/onupdatedfile",
                                "queries": {
                                    "folderId": "L2lucHV0cw==",
                                    "maxFileCount": 1
                                }
                            },
                            "metadata": {
                                "L2lucHV0cw==": "[concat('/',parameters('ingestAssetConfigWatchFolder'))]"
                            },
                            "recurrence": {
                                "frequency": "Minute",
                                "interval": 3
                            },
                            "splitOn": "@triggerBody()",
                            "type": "ApiConnection"
                        }
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "outlook": {
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('logicAppLocation'), '/managedApis/', 'outlook')]",
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('outlook_1_Connection_Name'))]",
                                "connectionName": "[variables('outlook_1_Connection_Name')]"
                            },
                            "azureblob": {
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('logicAppLocation'), '/managedApis/', 'azureblob')]",
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('azureblob_1_Connection_Name'))]",
                                "connectionName": "[variables('azureblob_1_Connection_Name')]"
                            }
                        }
                    }
                }
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('azureblob_1_Connection_Name')]",
            "location": "[variables('logicAppLocation')]",
            "properties": {
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('logicAppLocation'), '/managedApis/', 'azureblob')]"
                },
                "displayName": "[variables('azureblob_1_Connection_DisplayName')]",
                "parameterValues": {
                    "accountName": "[variables('watchStorageStorageAccountName')]",
                    "accessKey": "[listKeys(variables('watchStorageStorageAccountId'),'2015-05-01-preview').key1]"
                }                
            }
        },
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('outlook_1_Connection_Name')]",
            "location": "[variables('logicAppLocation')]",
            "properties": {
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', variables('logicAppLocation'), '/managedApis/', 'outlook')]"
                },
                "displayName": "[variables('outlook_1_Connection_DisplayName')]",
                "parameterValues": {}
            }
        }
    ],
    "outputs": {}
}